.container-main {
  display: flex;
  justify-content: center;
}

.container-main p {
  font-size: 40px;
  color: #51abff;
}

@media (min-width: 320px) {
  html,
  body {
    height: 100%;
  }

  .container-main {
    margin: auto;
    width: 100%;
  }

  .container-main p {
    font-size: 25px;
  }
}