main {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--height-header));
}

main .initial {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

main .initial .container-image {
  height: 50%;
}

main .initial .container-image img {
  height: 100%;
}

main .initial .descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  width: 40%;
  margin-left: 5%;
}

main .initial .descriptions .information p {
  font-size: 16px;
  color: var(--text);
}

main .initial .descriptions .information h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

main .initial .descriptions .btn-resquest-quote {
  cursor: pointer;
  margin-top: 4%;
  width: 60%;
  padding: 3% 0;
  font-size: 19px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  color: var(--white);
  background-color: var(--primary-color);
}

main .container-benefits {
  height: 75%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

main .container-benefits .benefits {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .container-benefits .benefits ul {
  display: flex;
  flex-direction: column;
}

main .container-benefits .benefits ul li {
  display: flex;
  align-items: center;
}
main .container-benefits .benefits ul li:not(:nth-child(1)) {
  margin-top: 2%;
}

main .container-benefits .benefits ul li i {
  margin-right: 2%;
  font-size: 2rem;
  color: var(--primary-color);
}

main .container-benefits .benefits ul li span {
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 500;
}

main .container-benefits .benefits .container-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main .container-benefits .benefits .container-contact h3 {
  font-size: 1.7rem;
}

main .container-benefits .benefits .container-contact .send-user {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

main .container-benefits .benefits .container-contact .send-user input {
  width: 45%;
  height: 70px;

  padding: 0 3%;
  font-size: 1.3rem;
  color: var(--primary-color);

  background-color: #dcdcdc;
  border: none;
  border-radius: 5px;
}

main .container-benefits .benefits .container-contact .send-user button {
  cursor: pointer;
  width: 45%;
  font-size: 1.3rem;
  border: none;
  border-radius: 7px;
  color: var(--white);
  background-color: var(--primary-color);
}

main .container-benefits .container-image {
  height: 100%;
}

main .container-benefits .container-image img {
  height: 100%;
}

main .container-feedback {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin: 5% 0;
}

main .container-feedback .user-feedback {
  display: flex;
  justify-content: center;
  width: 37%;
  padding: 1%;
  background-color: #dcdcdc;
  border-radius: 15px;
}

main .container-feedback .user-feedback .user-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

main .container-feedback .user-feedback .user-content .image-user {
  display: flex;
  margin-right: 3%;
}

main .container-feedback .user-feedback .user-content .image-user span {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

main .container-feedback .user-content .content {
  font-size: 1.2rem;
}

main .container-feedback .user-content .content p {
  color: var(--text);
  max-width: 390px;
}

main .container-feedback .user-content .maria p {
  color: var(--text);
  max-width: 380px;
}

main .container-feedback .user-content .content h4 {
  margin-top: 1%;
  font-size: 1.5rem;
}

main .container-feedback .user-content .content span {
  font-weight: bold;
  color: var(--text);
  font-size: 1rem;
}

footer {
  height: 100%;
  width: 100%;
  background-color: #333;
}

footer .container-main-footer {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

footer .container-codar {
  display: flex;
  flex-direction: column;
}

footer .container-codar h1 {
  font-size: 2rem;
  font-style: italic;
  color: var(--white);
}

footer .container-codar span {
  margin-top: 7%;
  font-size: 1.2rem;
  color: var(--text-footer);
}

footer .container-about {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

footer .container-about h5 {
  font-size: 2rem;
  color: var(--white);
}

footer .container-about span {
  margin-top: 1%;
  font-size: 1.4rem;
  max-width: 260px;
  color: var(--text-footer);
}

footer .container-contact {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

footer .container-contact h5 {
  font-size: 1.7rem;
  color: var(--white);
}

footer .container-contact span {
  margin-top: 2%;
  font-size: 1.4rem;
  color: var(--text-footer);
}

footer .container-contact span:not(:nth-child(1)) {
  margin-top: 2%;
}

footer .container-contact span:nth-last-child(1) {
  text-decoration: underline;
}

footer .container-network {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

footer .container-network h5 {
  font-size: 1.6rem;
  color: var(--white);
}

footer .container-network .content-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

footer .container-network .content-icons i {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 2rem;
}
